.home {
  margin-bottom: 0;
  padding: 56px 20px ;
  width: 100%;
}

.pageNewsAndNotices {
	margin : 110px 50px 0;
	padding: 0 5%;
  }

.pageTitle 
{
  position: relative;
  display: inline-block;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-right: 50px;
  margin-top: 20px;
}

.pageTitle:after {
	position: absolute;
	bottom: -7px;
	left: 0px;
	content: '';
	width: 75%;
	border-bottom: 2px solid #FFC107;
  }

.about {
  display: flex;
}

.imageContainer {
  flex: 0.8;
}

.image {
	/*margin-left: 30px;*/
	height: 25vw;
	width: 25vw;
	overflow: hidden;
	background-image: url(/assets/QR_code.jpg);
	background-size: cover;
	background-position: center;
}


.quote {
  flex: 1;
	display: flex;
	flex-direction: column;
  align-items: center;
  justify-content: center;

}

.details{
	padding-left: 32px;
	line-height: 1.7em;
	text-align: left;
}

.details h2{
	font-size: 1.8rem;
	font-weight: 400;
	font-family: 'Microsoft Yahei';
	letter-spacing: 2px;
	padding-bottom: 7px;
	margin-bottom: 30px;
}

.details p{
	margin :20px 0 ; 
	font-size: 14px;
	  color: rgb(146, 145, 145)
	
}

@media all and (max-width: 728px) {
	.home {
		padding: 16px;
	}

  .about, .bio {
		flex-direction: column;
	}

	.details {
		padding: 16px 0 0 0;
		font-size: 1.5rem;
	}

	.image {
		height: 50vw;
		width: 100%;
	}
}

