.pageContact {
  margin : 110px 50px 0;
  padding: 0 5%;
}

.pageTitle 
{
  position: relative;
  display: inline-block;
  font-weight: 500;
  letter-spacing: 2px;
}

.pageTitle:after {
  position: absolute;
  bottom: -7px;
  left: 0px;
  content: '';
  width: 75%;
  border-bottom: 2px solid #FFC107;
}

.pageBody {
  font-size: 1.2rem;
  margin :10px 50px 0;
  flex-direction: column;
}


.pageContact .formWrapper {
  display: flex;
}

.pageContact form {
  flex: 1;
}

@media all and (max-width: 728px) {
	.formWrapper {
		flex-direction: column;
  }
}