.fixbottom{
	margin-top: 50px;
	margin-bottom: 0;
}

.bottom {
	height: 150px;
	background-color: rgba(0, 81, 157, 0.733);
	z-index:1;
	margin-left: -28px;
	top: 0;
    width: 110%;
}

.bottom h1 {
	float: left;
	margin: 0;
	padding: 10px 30px;
	font-size: 32px;
	line-height: 100px;
	font-weight: 400;
	letter-spacing: 2px;
	font-family: YouYuan;
	color: rgb(0, 81, 157);
}

.bottom img{
	float : left;
	padding: 15px 170px;
	
}

.bottom nav {
	float: right;
	font-size: 15px;
	padding: 0px 150px;
	margin-left: 5px;
}
.bottom nav p {
	font-size:15px;
	padding:0px 80px;
}

.bottom nav a {
	display: inline-block;
	height: 56px;
	line-height: 100px;
	margin: 0 15px;
	min-width: 50px;
	text-align: center;
	background: rgba(255, 255, 255, 0);
	text-decoration: none;
	color :#dee4f0;
	will-change: background-color;
	transition-property: color;
	transition-duration: 300ms;
	text-transform: uppercase;
	position: relative;
}

.bottom nav a:hover,
.bottom nav a:active,
.bottom nav a.active {
	color: white;
}

.bottom nav a:after {
	content: '';
	width: 0%;
	border-bottom: 3px solid white;
	position: absolute;
	bottom: -12px;
	left: 5px;
	transition-duration: width;
	transition-duration: 300ms;

}

.bottom nav a:hover:after, .bottom nav a.active:after {
	width: 70%
}

@media all and (max-width: 728px) {
	.bottom h1{
		font-size: 2rem;
	}
	.bottom nav a{
		line-height: 100px;
		margin: 0 8px;
	}
}
